.masthead{
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 2); 


}
.masthead1{
    background-size: cover;
    min-height: 50vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 2); 


}
.masthead2{
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);  */


}


